.headerItem {
  text-decoration: none;
  color: #1a202c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding: 10px;
}
.headerItem:hover {
  background-color: lightgray;
  border-radius: 8px;
}
