.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.header_logo {
  width: auto;
  height: 3.5rem;
  margin-right: 3rem;
  object-fit: contain;

  /* margin-top: -10px; */
}
.header_Left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.header_Items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 150px; */
}
.header_hr {
  margin-top: -1rem;
}

.menu_btn {
  padding: 10px;
  background-color: #e9b7ee;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_respon {
  display: none;
}

.nav {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1rem;
  transition: 350ms;
  position: absolute;
  /* top: -100%; */
  top: 10vh;
  left: 0;
  background-color: #e9b7ee;
  /* padding: 1rem; */
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .menu_respon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
  }
  .header {
    display: none;
  }
  .nav {
    top: 5vh;
  }
  .active {
    height: 10vh;
    padding: 1rem 10px;
  }
}
@media only screen and (max-width: 768px) {
  .nav {
    top: 7vh;
  }
  .active {
    height: 10vh;
    padding: 1rem 10px;
  }
}
@media only screen and (max-width: 600px) {
  .nav {
    top: 10vh;
  }
  .active {
    height: 10vh;
    padding: 1rem 10px;
    /* top: 10vh; */
    /* transition: 350ms; */
  }
}
