.App {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #333232;
}
.PraragraphContainer {
  width: 60vw;
  margin: auto;
}

.app_intro {
  width: 60vw;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .PraragraphContainer {
    width: 90vw;
    /* padding: 1rem; */
  }
  .app_intro {
    width: 90vw;
    /* padding: 1rem; */
  }
}

@media only screen and (max-width: 600px) {
  .PraragraphContainer {
    width: 90vw;
    /* padding: 1rem; */
  }
  .app_intro {
    width: 90vw;
    /* padding: 1rem; */
  }
}
